aniso8601==8.1.0
backcall==0.2.0
click==7.1.2
decorator==4.4.2
Flask==1.1.2
Flask-JWT-Extended==3.25.0
Flask-RESTful==0.3.8
ipython==7.19.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.2
MarkupSafe==1.1.1
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.13
ptyprocess==0.7.0
Pygments==2.7.4
PyJWT==1.7.1
pytz==2020.5
six==1.15.0
traitlets==5.0.5
wcwidth==0.2.5
Werkzeug==1.0.1